[Unit]
Description=sd-journal-filter

[Service]
ExecStart=/usr/local/bin/journal-filter/journal-filter.sh
Type=simple

[Install]
WantedBy=multi-user.target
