[Unit]
Description=dbus-systemd-signals
After=posix-mq-to-mqtt-bridge.service
Requires=posix-mq-to-mqtt-bridge.service

[Service]
ExecStart=/usr/local/bin/dbus-systemd-signals-exec
Type=simple

[Install]
WantedBy=multi-user.target
