[Unit]
Description=epoll-psi
After=posix-mq-to-mqtt-bridge.service
Requires=posix-mq-to-mqtt-bridge.service

[Service]
ExecStart=/usr/local/bin/epoll-psi-exec -c 10
Type=simple

[Install]
WantedBy=multi-user.target
