[Unit]
Description=epoll-psi

[Service]
Environment="SCRIPT_ARGS=%I"
ExecStart=/usr/local/bin/epoll-psi-exec $SCRIPT_ARGS
Type=simple

[Install]
WantedBy=multi-user.target
