[Unit]
Description=inotify-coredump

[Service]
EnvironmentFile=/etc/inotify-coredump.conf
ExecStart=/usr/local/bin/inotify-coredump $ARG1
Type=simple

[Install]
WantedBy=multi-user.target
