[Unit]
Description=inotify-pacct

[Service]
EnvironmentFile=/etc/inotify-pacct.conf
ExecStart=/usr/local/bin/inotify-pacct-exec $ARG1
Type=simple

[Install]
WantedBy=multi-user.target
